@import "tailwindcss";
@import "flowbite";

@theme {
    --color-primary: #0c3d3c;
    --color-cta: #d93b27;
    --color-accent: #e9ec90;
    --color-background: #f4f7f6;
    --color-card: #ffffff;
    --color-text: #0b0f10;
    --color-secondary: #163939;
    --color-match-coral: #d93b27;
    --color-darker-coral: #b23621;
    --color-padel-teal: #0c3d3c;
    --color-ball-lime: #e9ec90;
    --color-darker-lime: #d2d674;

    --font-display: 'Rubik', sans-serif;
    --font-sans: 'Inter', sans-serif;
    --font-tally: '"Bebas Neue"', sans-serif;
}
